# =========================
# Lazy.nvim (plugins)
# =========================
.lazy/

# =========================
# Neovim runtime files
# =========================
plugin/
spell/
shada/
undo/
swap/
backup/

# =========================
# Logs / temporários
# =========================
*.log

# =========================
# OS
# =========================
.DS_Store

